    /*
    Flaticon icon font: Flaticon
    Creation date: 09/09/2017 07:14
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-home:before { content: "\f100"; }
.flaticon-computer-1:before { content: "\f101"; }
.flaticon-computer:before { content: "\f102"; }
.flaticon-connections-off:before { content: "\f103"; }
.flaticon-connections:before { content: "\f104"; }
.flaticon-server-1:before { content: "\f105"; }
.flaticon-server:before { content: "\f106"; }
.flaticon-clear-night-weather-symbol-of-crescent-moon-with-stars:before { content: "\f107"; }
.flaticon-sunset:before { content: "\f108"; }
.flaticon-smart-home-5:before { content: "\f109"; }
.flaticon-heater:before { content: "\f10a"; }
.flaticon-stopwatch:before { content: "\f10b"; }
.flaticon-fan:before { content: "\f10c"; }
.flaticon-account-1:before { content: "\f10d"; }
.flaticon-account:before { content: "\f10e"; }
.flaticon-database:before { content: "\f10f"; }
.flaticon-disconnected-phones:before { content: "\f110"; }
.flaticon-plug:before { content: "\f111"; }
.flaticon-power-button:before { content: "\f112"; }
.flaticon-technology:before { content: "\f113"; }
.flaticon-smart-home-4:before { content: "\f114"; }
.flaticon-smart-home-2:before { content: "\f115"; }
.flaticon-smart-home-1:before { content: "\f116"; }
.flaticon-wifi-signal-with-exclamation-mark:before { content: "\f117"; }
.flaticon-interface:before { content: "\f118"; }
.flaticon-solar-energy:before { content: "\f119"; }
.flaticon-smart-home:before { content: "\f11a"; }
.flaticon-cloud-off:before { content: "\f11b"; }
    
    $font-Flaticon-home: "\f100";
    $font-Flaticon-computer-1: "\f101";
    $font-Flaticon-computer: "\f102";
    $font-Flaticon-connections-off: "\f103";
    $font-Flaticon-connections: "\f104";
    $font-Flaticon-server-1: "\f105";
    $font-Flaticon-server: "\f106";
    $font-Flaticon-clear-night-weather-symbol-of-crescent-moon-with-stars: "\f107";
    $font-Flaticon-sunset: "\f108";
    $font-Flaticon-smart-home-5: "\f109";
    $font-Flaticon-heater: "\f10a";
    $font-Flaticon-stopwatch: "\f10b";
    $font-Flaticon-fan: "\f10c";
    $font-Flaticon-account-1: "\f10d";
    $font-Flaticon-account: "\f10e";
    $font-Flaticon-database: "\f10f";
    $font-Flaticon-disconnected-phones: "\f110";
    $font-Flaticon-plug: "\f111";
    $font-Flaticon-power-button: "\f112";
    $font-Flaticon-technology: "\f113";
    $font-Flaticon-smart-home-4: "\f114";
    $font-Flaticon-smart-home-2: "\f115";
    $font-Flaticon-smart-home-1: "\f116";
    $font-Flaticon-wifi-signal-with-exclamation-mark: "\f117";
    $font-Flaticon-interface: "\f118";
    $font-Flaticon-solar-energy: "\f119";
    $font-Flaticon-smart-home: "\f11a";
    $font-Flaticon-cloud-off: "\f11b";